<div class="container">
  <div class="blog-header">
    <h1 class="blog-title">REFIERE</h1>
    <p class="lead blog-description">Blog oficial de comunicación</p>
  </div>
  <div class="row">
    <div class="col-sm-8 blog-main">
      <div class="blog-post">
        <h2 class="blog-post-title">Como crear una campaña</h2>
        <p class="blog-post-meta">Mayo 25, 2016 by <a href="#">Jorge López</a></p>
        <p>Selecciono la opción de crear una campaña nueva, misma que debo nombrar de acuerdo a
          los objetivos que persigue. Dependiendo del plan escogido, tengo un número definido de
          campañas a realizar cada mes.
          - Luego Identifico el premio para el referidor y el referido. Se despliega una lista de opciones
          para clasificar el premio a entregar, dividiendo principalmente 5 categorías: dinero, descuento,
          bonificación, premio, mejora del servicio/producto.
          2 REFIERE.CO BACKLOG
          - Cargo base de datos para generar cada código. Esta base de datos ha sido alimentada
          previamente desde la pestaña de base de datos, y ha sido identificada con un nombre, mismo
          que me aparece como alternativa.
          <p>
          </div><!-- /.blog-post -->
          <div class="blog-post">
            <h2 class="blog-post-title">Papel del Usuario</h2>
            <p class="blog-post-meta">Mayo 23, 2016 by <a href="#">Jorge López</a></p>
            <p>
              -La empresa me contacta en un correo electrónico dando la bienvenida al programa (es el
              diseño generado anteriormente desde la administración de las campañas)
              - Me explican la dinámica con claridad (refiere a un amigo o familiar compartiendo tu código,
              gana este premio y tu amigo o familiar recibirá este beneficio). Es por tiempo limitado
              -Me piden confirmar mis datos mediante un link que me dirige la web refiere.co para confirmar
              mi inscripción y recibir mi premio. Dentro de los campos a completar, si el premio es dinero en
              efectivo me piden ingresar mi cuenta cliente y numero de cédula. Allí mismo acepto términos y
              condiciones del pago.
              -Comparto mi código enviando el url a mis referidos por correo o por facebook/whatssapp
              -Recibo una llamada de seguimiento.
              -Recibo una notificación al momento en que mi referido confirma su compra y me entregan mi
              premio.
            </p>
          </div><!-- /.blog-post -->
          <div class="blog-post">
            <h2 class="blog-post-title">Papel del Referido</h2>
            <p class="blog-post-meta">Mayo 14, 2016 by <a href="#">Jorge López</a></p>
            <p>
              -Mi amigo me ha enviado un coreo o invitación por correo / redes sociales/ mensajería
              -Ahi me explica que al acercarme a comprar tengo un documento/premio/beneficio.
              -Me da un link/url para dirigirme a la web de la empresa donde puedo comprar(si no es
              comercio electrónico me dirige para darme indicaciones de como comprar y obtener mi
              beneficio.
              - Al realizar mi compra, muestro mi código y recibo el beneficio
            </p>
          </div><!-- /.blog-post -->
          <nav>
            <ul class="pager">
              <li><a href="">Previous</a></li>
              <li><a href="">Next</a></li>
            </ul>
          </nav>
        </div><!-- /.blog-main -->
        <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
          <div class="sidebar-module sidebar-module-inset">
            <h4>Acerca del blog</h4>
            <p>En este blog vamos a ir subiendo contenido periódicamente
              Sobre estrategias de referrals que sean aprovechables para todos los usuarios
              publicando artículos sobre el mejor uso de los referral campaign.
            </p>
          </div>
          <div class="sidebar-module">
            <h4>Publicaciones Anteriores</h4>
            <ol class="list-unstyled">
              <li><a href="">March 2016</a></li>
              <li><a href="">February 2016</a></li>
              <li><a href="">January 2016</a></li>
              <li><a href="">December 2015</a></li>
              <li><a href="">November 2015</a></li>
            </ol>
          </div>
          <div class="sidebar-module">
            <h4>Enlaces</h4>
            <ol class="list-unstyled">
              <li><a href="">Twitter</a></li>
              <li><a href="">Facebook</a></li>
            </ol>
          </div>
        </div><!-- /.blog-sidebar -->
      </div><!-- /.row -->
    </div>
