<section id="container-full">
      <!--header start-->
      <header class="header black-bg">
      	<!--logo start-->
      	<a href="index.html" class="logo"><img src="images/refiere_logo.png" width="30"><b>REFIERE</b></a>
      	<!--logo end-->
      	<div class="top-menu">
      		<ul class="nav pull-right top-menu">
      			<li><a class="logout" href="login.html">Cerrar Sesi&oacute;n</a></li>
      		</ul>
      	</div>
      </header>
      <!--header end-->
      <!--sidebar start-->
      <aside>
      	<div id="sidebar"  class="nav-collapse ">
      		<!-- sidebar menu start-->
      		<ul class="sidebar-menu" id="nav-accordion">
      			<p class="centered"><img src="images/refiere_logo.png" class="img-circle" width="60"></p>
      			<h5 class="centered">Jorge L&oacute;pez</h5>
      			<li class="mt">
      				<a class="active" href="index.html">
      					<i class="fa fa-dashboard"></i>
      					<span>Capa&ntilde;a</span>
      				</a>
      			</li>
      			<li class="sub-menu">
      				<a ng-click="subPage='/#/dashboard/test'">
      					<i class="fa fa-bar-chart-o"></i>
      					<span>M&eacute;tricas</span>
      				</a>
      			</li>
      			<li class="sub-menu">
      				<a href="index.html">
      					<i class="fa fa-tasks"></i>
      					<span>Base de datos</span>
      				</a>
      			</li>
      			<li class="sub-menu">
      				<a href="index.html">
      					<i class="fa fa-book"></i>
      					<span>Noticias</span>
      				</a>
      			</li>
      			<li class="sub-menu">
      				<a href="index.html">
      					<i class="fa fa-cogs"></i>
      					<span>Reportes</span>
      				</a>
      			</li>
      		</ul>
      		<!-- sidebar menu end-->
      	</div>
      </aside>
      <!--sidebar end-->
      <ng-include src="subPage"></ng-include>
</section>