<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
                                         "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
 <session-factory>
  <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
  <property name="hibernate.connection.password">refiere</property>
  <property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/refiere</property>
  <property name="hibernate.connection.username">refiere</property>
  <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
  <property name="hibernate.search.autoregister_listeners">false</property>
  <property name="hibernate.show_sql">true</property>
  <property name="hibernate.validator.apply_to_ddl">false</property>
  <property name="hibernate.transaction.auto_close_session">true</property>
  <property name="hibernate.current_session_context_class">thread</property>
  <mapping resource="RefiereUser.hbm.xml"/>
  <mapping resource="RefiereCompany.hbm.xml"/>
  <mapping resource="RefierePlan.hbm.xml"/>
  <mapping resource="RefiereLapse.hbm.xml"/>
  <mapping resource="RefiereUserCompany.hbm.xml"/>
 </session-factory>
</hibernate-configuration>
