<div class="container-fluid">
  <div id="containerMetrics" class="row">
		<div id="PanelMetricsContainer" class="col-md-4">
			<div class="dashboard-stat blue">
				<div class="visual">
					<i class="fa fa-users"></i>
        </div>
        <div class="details">
          <div class="number">1349</div>
          <div class="desc">Cantidad de Referidores</div>
        </div>
      </div>
    </div>
    <div id="PanelMetricsContainer" class="col-md-4">
      <div class="dashboard-stat red">
        <div class="visual">
          <i class="fa fa-arrow-up"></i>
        </div>
        <div class="details">
          <div  class="number">12.5</div>
          <div class="desc">Referencias Efectivas</div>
        </div>
      </div>
    </div>
    <div id="PanelMetricsContainer" class="col-md-4">
      <div class="dashboard-stat purple">
        <div class="visual">
        <i class="fa fa-globe"></i>
      </div>
      <div class="details">
        <div  class="number">89%</div>
        <div  class="desc">Referencias Pagadas</div>
      </div>
      </div>
    </div>
    <div id="PanelMetricsContainer" class="col-md-4">
      <div class="dashboard-stat green">
        <div class="visual">
          <i class="fa fa-shopping-cart"></i>
        </div>
        <div class="details">
          <div class="number">549</div>
          <div class="desc">Referencias Pendientes de Pago</div>
        </div>
      </div>
    </div>
  </div>
  <div id="containerMetrics" class="row">
    <div id="PanelMetricsContainer" class="col-md-4">
      <div class="dashboard-stat bronw">
        <div class="visual">
          <i class="fa fa-thumbs-o-down"></i>
        </div>
        <div class="details">
          <div  class="number">10</div>
          <div  class="desc">Referencias Rechazadas por mala Aplicacion</div>
        </div>
      </div>
    </div>
    <div id="PanelMetricsContainer" class="col-md-4">
      <div class="dashboard-stat orange">
        <div class="visual">
          <i class="fa fa-money"> </i>
        </div>
        <div class="details">
        <div class="number">$1500</div>
        <div class="desc">Costo de mis Referencias</div>
        </div>
      </div>
    </div>
    <div id="PanelMetricsContainer" class="col-md-4">
      <div class="dashboard-stat grey">
        <div class="visual">
          <i class="fa fa-check"></i>
        </div>
        <div class="details">
          <div  class="number">$5000</div>
          <div  class="desc">Ingresos Generados</div>
        </div>
      </div>
    </div>
    <div id="PanelMetricsContainer" class="col-md-4">
      <div class="dashboard-stat yellow">
        <div class="visual">
          <i class="fa fa-check"></i>
        </div>
        <div class="details">
          <div  class="number">80%</div>
          <div  class="desc">Rendimiento</div>
        </div>
      </div>
    </div>
  </div>
</div>
