<div id="containerMetrics" class="row">	
	<div id="PanelMetricsContainer" class="col-lg-3 col-md-3 col-sm-6 col-xs-12">	 
		 <div class="dashboard-stat blue">
		 	<div class="visual">
		 		<i class="fa fa-comments">
		 		</i>
		 	</div>
		 	<div class="details">
		 		<div id="statistics" class="number">1349</div>
		 		<div id="nameMetrics" class="desc">New FeedBacks</div>
		 	</div>
		 	<a class="more" href=#>
		 		"View More"
		 	</a>
		</div>
	</div>
	<div id="PanelMetricsContainer" class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
		<div class="dashboard-stat red">
			<div class="visual">
				<i class="fa fa-bar-chart-o">
		 		</i>
			</div>
			<div class="details">
				<div id="statistics" class="number">12.5</div>
				<div id="nameMetrics" class="desc">Total Profit</div>		
			</div>
			<a class="more" href=#>
		 		"View More"
		 	</a>
		</div>
	</div>
	<div id="PanelMetricsContainer" class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
			<div class="dashboard-stat purple">
			<div class="visual">
				<i class="fa fa-globe">
		 		</i>
			</div>
			<div class="details">
				<div id="statistics" class="number">89%</div>
				<div id="nameMetrics" class="desc">Brand Popular</div>		
			</div>
			<a class="more" href=#>
		 		"View More"
		 	</a>
		</div>
	</div>
		<div id="PanelMetricsContainer" class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
		<div class="dashboard-stat green">
			<div class="visual">
				<i class="fa fa-shopping-cart">
		 		</i>
			</div>
			<div class="details">
				<div id="statistics" class="number">549</div>
				<div id="nameMetrics" class="desc">New Orders</div>		
			</div>
			<a class="more" href=#>
		 		"View More"
		 	</a>
		</div>
	</div>

</div>