<div class="container-fluid">
	<div class="row">
      <div class="col-md-6">
        <p class="input-group">
          <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="dt" is-open="popup1.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" />
          <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="open1()"><i class="glyphicon glyphicon-calendar"></i></button>
          </span>
        </p>
      </div>
	</div>
	<div id="containerMetrics" class="row">	
		<div id="PanelMetricsContainer" class="col-lg-3 col-md-3 col-sm-6 col-xs-12">	 
			 <div class="dashboard-stat blue">
		 		<div class="visual">
		 			<i class="fa fa-comments">
		 			</i>
		 		</div>
			 	<div class="details">
			 		<div id="statistics" class="number">1349</div>
			 		<div id="nameMetrics" class="desc">Cantidad de Referidores</div>
			 	</div>
			 	<a class="more" href=#>
			 		"View More"
			 	</a>
			</div>
		</div>
	<div id="PanelMetricsContainer" class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
		<div class="dashboard-stat red">
			<div class="visual">
				<i class="fa fa-bar-chart-o">
		 		</i>
			</div>
			<div class="details">
				<div id="statistics" class="number">12.5</div>
				<div id="nameMetrics" class="desc">Referencias Efectivas</div>		
			</div>
			<a class="more" href=#>
		 		"View More"
		 	</a>
		</div>
	</div>
	<div id="PanelMetricsContainer" class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
			<div class="dashboard-stat purple">
			<div class="visual">
				<i class="fa fa-globe">
		 		</i>
			</div>
			<div class="details">
				<div id="statistics" class="number">89%</div>
				<div id="nameMetrics" class="desc">Referencias Pagadas</div>		
			</div>
			<a class="more" href=#>
		 		"View More"
		 	</a>
		</div>
	</div>
		<div id="PanelMetricsContainer" class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
		<div class="dashboard-stat green">
			<div class="visual">
				<i class="fa fa-shopping-cart">
		 		</i>
			</div>
			<div class="details">
				<div id="statistics" class="number">549</div>
				<div id="nameMetrics" class="desc">Referencias Pendientes de Pago</div>		
			</div>
			<a class="more" href=#>
		 		"View More"
		 	</a>
		</div>
	</div>
		<div id="PanelMetricsContainer" class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
		<div class="dashboard-stat bronw">
			<div class="visual">
				<i class="fa fa-thumbs-o-down">
		 		</i>
			</div>
			<div class="details">
				<div id="statistics" class="number">10</div>
				<div id="nameMetrics" class="desc">Referencias Rechazadas por mala Aplicacion</div>		
			</div>
			<a class="more" href=#>
		 		"View More"
		 	</a>
		</div>
	</div>
		<div id="PanelMetricsContainer" class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
		<div class="dashboard-stat orange">
			<div class="visual">
				<i class="fa fa-money">
		 		</i>
			</div>
			<div class="details">
				<div id="statistics" class="number">$1500</div>
				<div id="nameMetrics" class="desc">Costo de mis Referencias</div>		
			</div>
			<a class="more" href=#>
		 		"View More"
		 	</a>
		</div>
	</div>
		<div id="PanelMetricsContainer" class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
		<div class="dashboard-stat grey">
			<div class="visual">
				<i class="fa fa-check">
		 		</i>
			</div>
			<div class="details">
				<div id="statistics" class="number">$5000</div>
				<div id="nameMetrics" class="desc">Ingresos Generados</div>		
			</div>
			<a class="more" href=#>
		 		"View More"
		 	</a>
		</div>
	</div>
		<div id="PanelMetricsContainer" class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
		<div class="dashboard-stat yellow">
			<div class="visual">
				<i class="fa fa-check">
		 		</i>
			</div>
			<div class="details">
				<div id="statistics" class="number">80%</div>
				<div id="nameMetrics" class="desc">Rendimiento</div>		
			</div>
			<a class="more" href=#>
		 		"View More"
		 	</a>
		</div>
	</div>
	</div>
</div>
