.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
  overflow-x: hidden;
}

.btn-plan {
  margin-top: 2em;
  margin-bottom: 2em;
}

.btn-margin {
  margin-top: 2em;
  margin-bottom: 2em;
}

.data-base-string {
  text-align: center;
}

.div-block {
  display: inline-block;
  /*width: 20%;*/
  word-wrap: break-word;
}

table, th, td {
    width: 100%;
}

.header_ladingpage {
    display: table;
    position: relative;
    width: 100%;
    height: 600px;
    padding: 15% 0 20% 0;
    background: url("../../images/refiere_background.png") no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.about {
  padding: 5% 0 5% 0;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 10px;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

.container {
    width: 100%;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    width: 100%;
    /* max-width: 730px; */
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

/* Input layout */

.text-center {
  text-align: center;
}

.form-control {
    margin-top: 1em;
    margin-bottom: 1em;
    text-align: center;
    padding: 2em;
}

.image-display {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.buttom-block {
  display: block;
  margin: 2em;
  padding: 2em;
}

.button-submit {
  text-align: center;
  display: block;
}

/* header dashboard */

.header-dashboard {
    min-height: 60px;
    padding: 0 15px;
}

.header-dashboard {
    position: fixed;
    left: 0;
    right: 0;
    z-index: 1002;
}

.black-bg {
    background: #0d5696;
    border-bottom: 1px solid #c9aa5f;
}

.panel-primary{
	border-color:#337ab7;
}

.panel-green{
	border-color:#5cb85c;
}

.panel-yellow{
	border-color:#f0ad4e;
}

/*sidebar navigation*/

#sidebar {
    width: 210px;
    height: 100%;
    position: absolute;;
    background: #1c3445;
}

#sidebar h5 {
  color: #f2f2f2;
  font-weight: 700;
}

#sidebar ul li {
    position: relative;
}

#sidebar .sub-menu > .sub li  {
    padding-left: 32px;
}

#sidebar .sub-menu > .sub li:last-child {
    padding-bottom: 10px;
}

/*LEFT NAVIGATION ICON*/
.dcjq-icon {
    height:17px;
    width:17px;
    display:inline-block;
    background: url("../img/nav-expand.png") no-repeat top;
    border-radius:3px;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    position:absolute;
    right:10px;
    top:15px;
}
.active .dcjq-icon {
    background: url("../img/nav-expand.png") no-repeat bottom;
    border-radius:3px;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
}
/*---*/

.nav-collapse.collapse {
    display: inline;
}

ul.sidebar-menu , ul.sidebar-menu li ul.sub{
    margin: -2px 0 0;
    padding: 0;
}

ul.sidebar-menu {
    margin-top: 75px;
}

#sidebar > ul > li > ul.sub {
    display: none;
}

#sidebar > ul > li.active > ul.sub, #sidebar > ul > li > ul.sub > li > a {
    display: block;
}

ul.sidebar-menu li ul.sub li{
    background: #0d5696;;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
}

ul.sidebar-menu li ul.sub li:last-child{
    border-radius: 0 0 4px 4px;
    -webkit-border-radius: 0 0 4px 4px;
}

ul.sidebar-menu li ul.sub li a {
    font-size: 12px;
    padding: 6px 0;
    line-height: 35px;
    height: 35px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
    color: #aeb2b7;
}

ul.sidebar-menu li ul.sub li a:hover {
  color: #0d5696;
  background: transparent;
}

ul.sidebar-menu li ul.sub li.active a {
    color: #68dff0;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
    display: block;
}

ul.sidebar-menu li{
    /*line-height: 20px !important;*/
    margin-bottom: 5px;
    margin-left:10px;
    margin-right:10px;
}

ul.sidebar-menu li.sub-menu{
    line-height: 15px;
}

ul.sidebar-menu li a span{
    display: inline-block;
}

ul.sidebar-menu li a{
    color: #fff;
    text-decoration: none;
    display: block;
    padding: 15px 0 15px 10px;
    font-size: 12px;
    outline: none;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

ul.sidebar-menu li a.active, ul.sidebar-menu li a:hover, ul.sidebar-menu li a:focus {
    background: #b86e28;
    color: #0d5696;
    display: block;
	position: relative;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

ul.sidebar-menu li a i {
    font-size: 15px;
    padding-right: 6px;
}

.sidebar-menu li a:hover i, ul.sidebar-menu li a:focus i {
    color: #fff;
}

.sidebar-menu li a.active i {
    color: #fff;
}


.mail-info, .mail-info:hover {
    margin: -3px 6px 0 0;
    font-size: 11px;
}

/* MAIN CONTENT CONFIGURATION */
#main-content {
    margin-left: 210px;
}

.header {
    min-height: 60px;
    padding: 0 15px;
}

.header {
    position: fixed;
    left: 0;
    right: 0;
    z-index: 1002;
}

.black-bg {
    background: #0d5696;
    border-bottom: 1px solid #1c3445;
}

.wrapper {
    display: inline-block;
    margin-top: 60px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    padding-top: 0px;
    width: 100%;
}

a.logo {
    font-size: 20px;
    color: #ffffff;
    float: left;
    margin-top: 15px;
    text-transform: uppercase;
}

a.logo b {
    font-weight: 900;
}

a.logo:hover, a.logo:focus {
    text-decoration: none;
    outline: none;
}

a.logo span {
    color: #68dff0;
}


/*Helpers*/

.centered {
  text-align: center;
}

/*Exclusive Theme Colors Configuration*/

.label-theme {
  background-color: #68dff0;
}

.bg-theme {
  background-color: #68dff0;
}

ul.top-menu > li > .logout {
  color: #f2f2f2;
  font-size: 12px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  border: 1px solid #b86e28 !important;
  padding: 6px 20px;
  margin-right: 15px;
  background: #b86e28;
  margin-top: 20px;
}

ul.top-menu > li > .logout:hover {
  background: #9d5627;
    border: 1px solid #5f3b13 !important;
}

#Panel{
    color:white;
    text-align: center;
    background: #b86e28;
    font-size: 16px;
}
#panelPosition{
    position: relative;
    top: 200px;
    left: 200px;
}

.content {
    padding-top: 80px;
}

#PanelBases{
    background: #383838;
}

#selector{
    background: blue;
    color: white;
}
.dashboard-stat .visual {
    width: 80px;
    height: 80px;
    display: block;
    float: left;
    padding-top: 10px;
    padding-left: 15px;
    margin-bottom: 15px;
    font-size: 35px;
    line-height: 35px;
}
.dashboard-stat.blue {
    background-color: #3598dc;
}
#containerMetrics {
    position: relative;
    top: 80px;
    left: 400px;
    width: 1300px;
}
#PanelMetricsContainer {
    width: 28%;
}
.dashboard-stat {
    display: block;
    margin-bottom: 25px;
    overflow: hidden;
    border-radius: 4px;
}
.dashboard-stat .visual {
    width: 60px;
    height: 130px;
    display: block;
    float: left;
    padding-top: 10px;
    padding-left: 15px;
    margin-bottom: 15px;
    font-size: 35px;
    line-height: 35px;
}
.dashboard-stat.blue .visual>i {
    color: #FFF;
    opacity: 0.3;
}
.dashboard-stat .visual>i {
    margin-left: -35px;
    font-size: 110px;
    line-height: 110px;
}
.dashboard-stat .details {
    position: absolute;
    right: 15px;
    padding-right: 15px;
}
.dashboard-stat.blue .details .number {
    color: #FFF;
}
.dashboard-stat .details .number {
    padding-top: 25px;
    text-align: right;
    font-size: 34px;
    line-height: 36px;
    letter-spacing: -1px;
    margin-bottom: 0;
    font-weight: 300;
    color:#FFF;
}

.dashboard-stat .details .desc {
    text-align: right;
    font-size: 17px;
    letter-spacing: 0;
    font-weight: 300;
    color: #FFF;
}
.dashboard-stat.blue .more {
    color: #FFF;
    background-color: #258fd7;
}
.dashboard-stat .more {
    clear: both;
    display: block;
    padding: 6px 10px;
    position: relative;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 11px;
    opacity: .7;
}
.dashboard-stat .more>i {
    display: inline-block;
    margin-top: 1px;
    float: right;
}
.dashboard-stat.red {
    background-color: #e7505a;
}
.dashboard-stat.red .visual>i {
    color: #fff;
    opacity: 0.3;
}
.dashboard-stat.red .more {
    color: #fff;
    background-color: #e53e49;
}
.dashboard-stat.green {
    background-color: #32c5d2;
}
.dashboard-stat.green .visual>i {
    color: #FFF;
    opacity: 0.3;
}
.dashboard-stat.green .more {
    color: #FFF;
    background-color: #2bb8c4;
}
.dashboard-stat.purple {
    background-color: #8E44AD;
}
.dashboard-stat.purple .visual>i {
    color: #fff;
    opacity: 0.3;
}
.dashboard-stat.purple .more {
    color: #fff;
    background-color: #823e9e;
}
.dashboard-stat.bronw .more {
    color: #fff;
    background-color: #61210B;
}
.dashboard-stat.bronw{
    background-color: #61210B;
}
.dashboard-stat.bronw .visual>i {
    color: #fff;
    opacity: 0.3;
}
.dashboard-stat.orange {
    background-color: #faac58;
}
.dashboard-stat.orange .visual>i {
    color: #fff;
    opacity: 0.3;
}
.dashboard-stat.orange .more {
    color: #fff;
    background-color: #faac58;
}

.dashboard-stat.grey {
    background-color: #424242;
}
.dashboard-stat.grey .visual>i {
    color: #fff;
    opacity: 0.3;
}
.dashboard-stat.grey .more {
    color: #fff;
    background-color: #424242;
}
.dashboard-stat.yellow {
    background-color: #868A08;
}
.dashboard-stat.yellow .visual>i {
    color: #fff;
    opacity: 0.3;
}
.dashboard-stat.yellow .more {
    color: #fff;
    background-color: #868A08;
}
#nameMetrics{
	  color: #fff;
    opacity: 1;
}
#statistics{
	  color: #fff;
}

.img_dashboard{
  position: absolute;
	max-width: 58%;
	top: 5%;
	left: 33%;
}

.campignMargin{
  margin: 3em;
  top: 100px;
}

.panel_campaign {
    position: relative;
    top: -80px;
    left: 35%;
}

.panel_campaign_button{
  margin: 2em;
}

.blog_Margin{
  position: relative;
  margin: 3em;
  top: 25px;
}

.report_Margin{
  position: absolute;
  left: 200px;
  margin: 3em;
  top: 100px;
}

#containerCampign {
    position: relative;
    top: 80px;
    left: 400px;
    width: 1300px;
}
