<!-- Header -->
<header id="top" class="header_ladingpage">
   <div class="text-vertical-center">
     <div class="col-sm-2 col-md-offset-5">
       <img src="images/refiere_logo.png" alt="Refiere logo">
       <form submit="vm.saveNewCompany()">
         <input type="text" class="form-control" ng-model="vm.newCompanyData.UserRequest.login" placeholder="Name">
         <input type="password" class="form-control" ng-model="vm.newCompanyData.UserRequest.password" placeholder="Password">
         <input type="text" class="form-control" ng-model="vm.newCompanyData.name" placeholder="Company Name">
         <input type="text" class="form-control" ng-model="vm.newCompanyData.address" placeholder="Company Addresss">
         <input type="email" class="form-control" ng-model="vm.newCompanyData.email" placeholder="Email">
         <input type="text" class="form-control" ng-model="vm.newCompanyData.telephone" placeholder="Phone">
         <input type="number" min="0" max="2" class="form-control" ng-model="vm.newCompanyData.PlanRequest.id" placeholder="Plan">
         <!-- <a ui-sref="app.dashboard" type="button" class="btn btn-primary btn-block" ng-click="vm.saveNewCompany()">Register Company</a> -->
         <a type="button" class="btn btn-primary btn-block" ng-click="vm.saveNewCompany()">Register Company</a>
         <br>
       </form>
     </div>
   </div>
</header>
<!-- Footer -->
   <footer>
       <div class="container">
           <div class="row">
               <div class="col-lg-10 col-lg-offset-1 text-center">
                   <h4><strong>Refiere.co</strong>
                   </h4>
                   <p>San Jos&eacute; <br>Costa Rica</p>
                   <ul class="list-unstyled">
                       <li><i class="fa fa-phone fa-fw"></i> (123) 456-7890</li>
                       <li><i class="fa fa-envelope-o fa-fw"></i>  <a href="mailto:name@example.com">name@example.com</a>
                       </li>
                   </ul>
                   <br>
                   <ul class="list-inline">
                       <li>
                           <a href="#"><i class="fa fa-facebook fa-fw fa-3x"></i></a>
                       </li>
                       <li>
                           <a href="#"><i class="fa fa-twitter fa-fw fa-3x"></i></a>
                       </li>
                       <li>
                           <a href="#"><i class="fa fa-dribbble fa-fw fa-3x"></i></a>
                       </li>
                   </ul>
                   <hr class="small">
                   <p class="text-muted">Copyright &copy; Refiere.co 2016</p>
               </div>
           </div>
       </div>
   </footer>
