 <div id="panelPosition" class="row">
    <div class="col-md-3 col-md-offset-2  col-xs-offset-2 col-xs-6 col-lg-3" >
        <div class="panel panel-primary">
            <div id="Panel" class="panel-heading">Crear Campaña</div>
            <div class="panel-body">
                <form class="form-inline">
                    <div class="form-group">
                        <label id="Texto">Nombre </label>
                        <input id="inputText" type="text" class="form-control" id="exampleInputName2" placeholder="">
                    </div>
                </form>
                <br>
                <form class="form-inline">
                    <div class="form-group">
                        <select id="inputText" class="form-control">
                            <option>reward referido</option>
                            <option>1</option>
                            <option>2</option>
                        </select>
                        <select id="inputText" class="form-control">
                            <option>reward referidor</option>
                        </select>
                    </div>
                </form>
                <br>
                <form class="form-inline">
                    <div class="form-group">
                        <label id="Texto" >Base de Datos</label>
                        <select id="inputText" class="form-control">
                          <option>ver datos</option>
                        </select>
                    </div>
                </form>
                <br>
                <form class="form-inline">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-4 col-md-offset-4 col-xs-offset-2 col-xs-4 col-lg-3">
                                <button type="button" class="btn btn-primary btn-sm">Generación de Código</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>